{% extends 'tasks/base.html' %}
{% load extra_tags %}

{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title" href="#">{{ task.title }}</a></h2>
      <p class="article-content">{{ task.content }}</p>
      <div class="article-metadata">
        {% if user|has_group:'Admin' %}
        <a class="mr-2" href="#">{{ task.author }}</a>
        <small class="text-muted">{{ task.created|date:'d F Y G:i' }}</small>
        {% endif %}
        <div class="text-muted text-right">
          {% for tag in task.tags.all %}
          <a href="{{ tag.get_absolute_url }}">[{{ tag.title }}]</a>
          {% endfor %}
        </div>
      </div>

    </div>

  </article>
{% endblock %}