{% load extra_tags %}
<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title" href="{{ task.get_absolute_url }}">{{ task.title }}</a></h2>
    <p class="article-content">{{ task.content|truncatewords:30 }}</p>
    {% if user|has_group:'Admin' %}
    <div class="article-metadata">
      <a class="mr-2" href="{{ task.author.profile.get_absolute_url }}">{{ task.author }}</a>
      <small class="text-muted">{{ task.created|date:'d F Y G:i' }}</small>
    </div>
    {% endif %}
  </div>
</article>